doctype html
html
	head
		title Stevens Scheduler
		block styles
			//- All styles should be loaded in the js file with webpack
	body
		nav
			div#brand
				a(href='/home') Stevens Scheduler 3.0
			div#user-info
			if user
				if user.profile.photoURL
					img(src=user.profile.photoURL)
				else
					img(src='https://lh4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAACyas/yR1_yhwBcBA/photo.jpg?sz=50')
				p #{user.profile.displayName}
				a(href='/logout'): button Log out

		block content

		block scripts
			include ../partials/google-analytics
			//- Vendor scripts are common
			script(type='text/javascript' src='/vendor.bundle.js')
			script(type='text/javascript' src='/polyfills.bundle.js')
			//- script(type='text/javascript' src='/vendor-styles.bundle.js')
			//- All page scripts should be loaded here with append