doctype html
html
	head
		title Stevens Scheduler
		block styles
			//- All styles should be loaded in the js file with webpack
	body
		if user
			img(src=user.profile.photoURL)
			p #{user.profile.displayName}
			a(href='logout'): button Log out

		block content

		block scripts
			//- Vendor scripts are common
			script(type='text/javascript' src='/vendor.bundle.js')
			//- All page scripts should be loaded the same