extends layouts/vue-app

append scripts
	script(type='text/javascript' src='/edit.bundle.js')

block app
	//- An editable schedule view
	div(v-if="scheduleLoaded")
		schedule(v-bind:schedule="schedule" v-bind:editable="true")

