extends layouts/main

append scripts
	script(type='text/javascript' src='/error.bundle.js')

block nav
	include partials/no-user-nav

block content
	section.error
		case errorCode
			when 404
				h1 Oops, we don't know what you're looking for!
			default
				h1 Uh oh, something went wrong.
		p #{errorDescription}