extends layouts/main

append scripts
	script(type='text/javascript' src='/error.bundle.js')

block nav
	div#topBar
		div#topBarContainer
			h1
				a(href="/home") Stevens Scheduler
					span.mediumGray 2.0

block content
	section.error
		h1 Oops, we don't know what you're looking for!
		p #{errorDescription}