extends layouts/main

append scripts
	script(type='text/javascript' src='/home.bundle.js')

block content
	img(src=user.profile.photoURL)
	p #{user.profile.displayName}
	a(href='logout'): button Log out
