extends layouts/vue-app

append scripts
	script(type='text/javascript' src='/home.bundle.js')

block app
	// Let's think about moving all this to a home component in home.js
	h1 {{ message }}
	section#previews
		template(v-for="schedule in schedules")
			schedule-preview(@click.native="scheduleSelect(schedule)"
				v-bind:schedule="schedule"
				v-bind:class="{ selected : isSelected(schedule) }"
				v-bind:on-delete="scheduleDeleted")
		//	To Create a new schedule
		a.new-schedule(@click="showAddForm") New Schedule

		form(v-if="addFormShowing")
			input(v-model="title" placeholder="Title" )
			input(v-model="description" placeholder="Description" )
			select(v-model="term" placeholder="Term" )
				option(v-bind:value="term" v-for="term in terms") {{ term.name }}
			a.create-schedule(@click="createSchedule") Create Schedule

		form(v-if="addFormShowing") Add Form


		//- Show the schedule if
		article#schedule(v-if="selectedSchedule")
			button(@click="scheduleDeselect") Close
			schedule(v-bind:schedule="selectedSchedule"
					v-bind:editable="false")