extends layouts/vue-app

append scripts
	script(type='text/javascript' src='/home.bundle.js')

block app
	h1 {{ message }}
	section#previews
		template(v-for="schedule in schedules")
			schedule-preview(:schedule="schedule" v-bind:on-delete="scheduleDeleted")
		a.new-schedule(v-on:click="createSchedule") New Schedule