extends layouts/main

//- do css like this too
append scripts
	script(type='javascript' src='/js/home.js')

block content
	img(src=user.profile.photoURL)
	p #{user.profile.displayName}
	a(href='logout'): button Log out
