extends layouts/vue-app

append scripts
	script(type='text/javascript' src='/home.bundle.js')

block app
	// Let's think about moving all this to a home component in home.js
	div#container
		section#previews
			h1 My Schedules
			template(v-for="schedule in schedules")
				schedule-preview(@click.native="scheduleSelect(schedule)"
					v-bind:schedule="schedule"
					v-bind:class="{ selected : isSelected(schedule) }"
					v-bind:on-delete="scheduleDeleted")
			//	To Create a new schedule
			button.btn-new-schedule(@click="showAddForm") New Schedule

			modal(name="add-form-modal")
				form(id="add-form" v-on:submit.prevent="createSchedule")
					input(v-model="title" placeholder="Title" required)
					input(v-model="notes" placeholder="Description")
					select(v-model="term" required v-if="termsLoaded")
						option(value="") Select Term
						option(v-bind:value="term" v-for="term in terms") {{ term.name }}
					button.btn-create-schedule(type="submit") Create Schedule
					button.btn-cancel-create-schedule(@click="hideAddForm") Cancel

			//- Show the schedule if
			article#schedule(v-if="selectedSchedule")
				button(@click="scheduleDeselect") Close
				schedule(v-bind:schedule="selectedSchedule"
						v-bind:editable="false")