extends layouts/main

append scripts
	script(type='text/javascript' src='/splash.bundle.js')

block content
	main
		|
		h1
			| Stevens Scheduler 
			span.red 2.0
			|
		p Browse classes, save schedules, share with friends. Make friends.

		a(href='login/google'): img(src='http://3.bp.blogspot.com/-Ep_sMHCGb-M/Vl9h5smpeaI/AAAAAAAACak/MQF7WdfmBgI/s640/image00.png')
	|
	footer