@import "../variables";

.component-schedule {
  height: 975px;
  background-color: white;
  margin-top: 30px;
  position: relative;
  width: 100%;
  margin: auto;
  color: $font-color;
  .component-course {
  }

  &.editable {
    .component-course-meeting {
      &:hover {
        //background: transparentize($primary-color, .75);
        background: $black;
      }

      &.preview {
        color: red;
      }

    }
  }
.day{
  width: 20%;
  float: left;
  text-align: center;
  font-size: 12pt;
  padding-top: 10px;
  padding-bottom: 10px;
}
#times{
  float: left;
}
#times p{
  width: 50px;  
  height: 75px;
}
}
