@import "../variables";

.component-schedule-preview {
  background-color: $stevens-red;
  width: 20%;
  border-radius: 3px;
  color: $light-gray;
  min-width: 200px;
  padding: 10px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  height: 100px;
}

.component-schedule-preview p{
	margin-top: 5px;
	color: #d9d9d9;
}

.component-schedule-preview h1{
	margin-top: 5px;
	text-transform: uppercase;
}

#actions{
	margin-top: 27px;
	text-align: right;
}

#actions a{
	text-decoration: underline;
	color: $light-gray;
}

#actions a:hover{
	cursor: pointer;
	opacity: .8;
}