@import "../variables";

.component-schedule {
  color: $font-color;


  .component-course {


  }

  &.editable {
    .component-course-meeting {
      &:hover {
        //background: transparentize($primary-color, .75);
        background: $black;
      }

      &.preview {
        color: red;
      }

    }
  }
}
