@import 'variables';

#schedule{
	width: 95%;
	margin: auto;
}
.schedule-view{
	width: 80%;	
}
.course-selector{
	float: right;
	width: 20%;
	height: 975px;
}

#editable-info{
	margin-top: 50px;
	height: 77px;	
	background-color: #b7b7b7;
	width: 100%;

}
.component-schedule{
	height: 1052px
}
.course-search{
	float: right;
	width: 20%;
}
