@import 'variables';

#container{
	margin: auto;
	width: 90%;
	max-width: 1366px;
}
#container h1{
  font-size: 14pt;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn-new-schedule{
  background-color: #cccccc;
  width: 20%;
  border-radius: 3px;
  text-align: center;
  color: $dark-gray;
  min-width: 200px;
  padding: 10px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  height: 100px;
}
.btn-new-schedule p{
	margin-top: 40px;
	font-size: 14pt;
}
.btn-new-schedule:hover{
	cursor: pointer;
	opacity: .8;
}
<<<<<<< HEAD

.v--modal {
  color: red;
  background: red;
}

.test {
  background: black !important;
=======
#addForm{
	background-color: green;
}
#addForm input{
	background-color: yellow;
>>>>>>> 52367540eea77369a264f6f01c93673a5ad2bae4
}